<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Analysis About">
	  <meta name="keywords" content="Analysis About">
  	<meta name="author" content="Rajesh Ranjan">
    <title>RedCrow Startup | Analysis</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">RedCrow</span> Startup Evaluator</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="HomePage.html">Home</a></li>
            <li><a href="RedCrowTableau.html">Insights</a></li>
            <li><a href="Analysis.html">Analysis</a></li>
            <li><a href="Team.html">Team</a></li>
          </ul>
        </nav>
      </div>
    </header>



    <section id="main">
      <div class="container">
      </div>
    </section>

    <footer>
      <p>RedCrow</p>
    </footer>
  </body>
</html>
