<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="startup evaluator Team">
	  <meta name="keywords" content="startup evaluator Team">
  	<meta name="author" content="Rajesh Ranjan">
    <title>SaltyCherry Capstone Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">SaltyCherry</span> Startup Evaluator</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/HomePage">Home</a></li>
            <li><a href="/MainDashboard">Insights</a></li>
            <li><a href="/Analysis">Analysis</a></li>
            <li class="current"><a href="/Team">Team</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container"></div>
    </section>



    <footer>
      <p><image src="{{ url_for('static', filename='/images/Cherry.jpg')}}" width="50" height="40"> SaltyCherry</p>
    </footer>
  </body>
</html>
