<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="startup evaluator Team">
	  <meta name="keywords" content="startup evaluator Team">
  	<meta name="author" content="Rajesh Ranjan">
    <title>SaltyCherry Capstone Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
   
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">SaltyCherry</span> Startup Evaluator</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/MainDashboard">Insights</a></li>
            <li><a href="/Analysis">Analysis</a></li>
            <li class="current"><a href="/Team">Team</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <br>
        <table width="100%" style="font-family: Georgia", cursive, sans-serif>
          <tr width="100" style="align-items: center;"> </tr>
          <th style="background-color:#669999"> TEAM  ALPHA</th>
          <tr></tr>
          <th style="background-color:#669999">Arvind Pawar</th>
          <th style="background-color:#669999">Mihir Gandhi</th>
          <th style="background-color:#669999">Rajesh Ranjan</th>
          <th style="background-color:#669999">Sagar Daswani</th>
          <th style="background-color:#669999">Trupti Khodke</th>
          <tr>
            <TD style="background-color:#4d1a00"></TD>
            <TD style="background-color:#4d1a00"></TD>
            <TD style="background-color:#4d1a00"></TD>
            <TD style="background-color:#4d1a00"></TD>
            <TD style="background-color:#4d1a00"></TD>
          </tr>
          <tr>
            <TD style="background-color:#669999; width: 25%" >
              Self-motivated Data Science enthusiast
            </TD >
            <TD style="background-color:#669999; width: 25%">
              Discovering relationships and developing Meaningful stories
            </TD>
            <TD style="background-color:#669999; width: 25%">
              Progressive problem solver - love to win with team work
            </TD>
            <TD style="background-color:#669999; width: 25%">
              Can make your data tell a story
            </TD>
            <TD style="background-color:#669999; width: 25%">
              Data specialist for information and insight
            </TD>
          </tr>
          <tr>
            <TD style="background-color:#669999; width: 25%" >
              EDA<br> Descriptive Analysis<br> Predictive Modeling  <br> pawar.ar@northeastern.edu
            </TD >
            <TD style="background-color:#669999; width: 25%">
              Descriptive Analysis <br> Hypothesis Testing <br>gandhi.mih@northeastern.edu
            </TD>
            <TD style="background-color:#669999; width: 25%">
              Data Prepration <br>App Development <br> Visualization <br>ranjan.ra@northeastern.edu
            </TD>
            <TD style="background-color:#669999; width: 25%">
              Startup Data Extraction <br> Twitter data Collection <br>Data Pre-procssing <br>daswani.s@northeastern.edu
            </TD>
            <TD style="background-color:#669999; width: 25%">
              Descriptive Analysis<br> Predictive Modeling <br>khodke.t@northeastern.edu
            </TD>
          </tr>

        </table>
      </div>
    </section>



<footer>
  <table>
    <tr>
      <td><image src="{{ url_for('static', filename='/images/Cherry.jpg')}}" width="50" height="40"></td>
      <td style="text-shadow: 2px 2px 5px red;">SaltyCherry [ powered by team alpha ]</td>
    </tr>
  </table>
</footer>
</html>
